<h1> Companies </h1>

<% companies = Company.all %>


<p>There are <%= companies.count%> companies; </p>

<ul>
<% for company in companies  %>

<li> <%=company["name"]%>

<%end %>

</ul>

<!-- below is solution -->

<% companies = Company.all %>
<h1>Companies</h1>
<ul>
  <% for company in companies %>
    <li><%= company["name"] %> – <%= company["city"] %>, <%= company["state"] %></li>
  <% end %>
</ul>